<div>
    <p>Hi <%= comment.user.name %> !</p>
    <br>
    <br>
    <p>Your new comment <strong> <%= comment.content %> </strong> is just got published on ConnectIn</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>